
<ul class="uk-iconnav uk-margin-left">
  <a href="/home" class="uk-card uk-card-small uk-card-hover uk-padding-small">
    <i class="fas fas fa-thumbtack fa-3x" style="color:rgb(153, 196, 74)" title="Add Hive" pos="bottom" uk-tooltip></i>
  </a>
  <a href="/maps" class="uk-card uk-card-small uk-card-hover uk-padding-small">
    <i class="fas fa-map-signs fa-3x" style="color:rgb(63, 122, 139)" title="Hive Locations" pos="bottom"
      uk-tooltip></i>
  </a>
  <a href="/settings" class="uk-card uk-card-small uk-card-hover uk-padding-small">
    <i class="fas fas fa-list fa-3x" style="color:rgb(14, 168, 160)" title="Settings" pos="bottom" uk-tooltip></i>
  </a>
  <a href="/logout" class="uk-card uk-card-small uk-card-hover uk-padding-small" onclick="signOut();">
    <i class="fas fa-sign-out-alt fa-3x" style="color:rgb(156, 70, 128)" title="Logout" pos="bottom" uk-tooltip></i>
  </a>
</ul>
