<form action="/hive-info" method="POST">
    <div class="uk-margin">
      <button class="uk-button uk-button-danger uk-button-large uk-width-1-1">Back </button>
      <input type="hidden" name="id" value="{{hive_id}}" type="text">
    </div>
  </form>




<div class="uk-container uk-padding-small">
  <div class="uk-child-width-1-3@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card"   >
    {{#each images}}
      {{> card}}
    {{/each}}
  </div>
</div>
