<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Beekepers club Hive tracking subTitle="Sign up or Log in"}} {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="slide_7.jpg" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Help track all hive locations and their healty</h1>
      {{> error }}
    </div>
  </div>
</div>