{{!-- <script>
  if (window.location.protocol == "http:") {
    console.log("You are not connected with a secure connection.")
    console.log("Reloading the page to a Secure Connection...")
    window.location = document.URL.replace("http://localhost:3000/login", "https://localhost/login");
  }

  if (window.location.protocol == "https:") {
    console.log("You are connected with a secure connection.")
  }
</script> --}}
<script>

  function onSignIn(googleUser) {

    var profile = googleUser.getBasicProfile();
    const firstName = profile.getGivenName();
    const lastName = profile.getFamilyName();
    const email = profile.getEmail();
    document.getElementById('googleemail').value = email;
    document.getElementById('googlefirstName').value = firstName;
    document.getElementById('googlelastName').value = lastName;
    if ({{ toggle }}) {
      document.getElementById("googleButton").click();
    };

  }
</script>

<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Beekepers club Hive tracking" subTitle="Please log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-text-center">Welcome back!</h3>
        <form action="/login" method="POST">
          <div class="uk-margin uk-text-left">
            <label class="uk-form-label" for="form-stacked-text"></label>
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: mail"></span> <input class="uk-input uk-form-large" type="text"
                name="email" placeholder="Email">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: lock"></span> <input class="uk-input uk-form-large"
                type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
          </div>
          <div class="uk-text-left uk-text-small"></div>

        </form>
        <form action="/googleLogin" method="POST">
          <div class="uk-margin">
            <input name='googleemail' type="hidden" value="" id="googleemail">
            <input name='googlefirstName' type="hidden" value="" id="googlefirstName">
            <input name='googlelastName' type="hidden" value="" id="googlelastName">
            <button class="uk-button uk-button-primary uk-button-medium uk-width-1-1" id="googleButton">Login in with
              google
            </button>
          </div>
          <div class="g-signin2" data-onsuccess="onSignIn" name="google"></div>
        </form>
        <button class="uk-button uk-button-primary uk-button-medium uk-width-1-1" id="googleoutButton" onclick="signOut();">Login in with google
        </button>
        {{> error }}
      </div>
    </div>
    <div>
      <img width="400" src="images/slide_8.jpg">
    </div>
  </div>
</div>