<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Beaufort Beekeepers Hive Tracking" subTitle="Follow link below to main site"}} {{> welcome-menu }}
</div>

<div class="uk-container uk-container uk-container-small uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300"  src="images\hive.jpg" />
    </div>
    <div class="uk-width-expand@m">
      <h2 class="uk-heading-small uk-heading-divider">Help track hive locations</h2>
      <h2 class="uk-heading-small uk-heading-divider">Help track hive Numbers</h2>
      <h2 class="uk-heading-small uk-heading-divider">Help track hive Quality</h2>
      <h1>
      <a href="https://bba-hive-tracker.netlify.app">https://bba-hive-tracker.netlify.app</a>
      </h1>
      {{> error }}
    </div>
  </div>
</div>
