<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large " uk-grid>
  {{> title-card title="Hive" subTitle="Please add a Hive" }}
  {{> main-menu }}
</div>


<div class="uk-container uk-margin  uk-container-large ">{{> map1}}</div>

<div class="uk-container uk-margin  uk-container-large ">
  {{> error }}
  {{> updateHiveLoc}}
</div>